<!--The content below is only a placeholder and can be replaced.-->
<!-- <h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/> -->
<!-- 
<div style="text-align:center">
  <h1>
    Welcome to {{ title|uppercase }}
    <br/>
{{title|lowercase}}
<br/>
   {{todaysdate|date:'d/M/y'}}
   {{todaysdate|date:'shortTime'}}
   <b>{{6589.23 | currency:"USD":true}}</b>
   <h1>Decimal Pipe</h1>
      <b>{{ 454.78787814 | number: '2.4' }}</b> 
      <br/>
      <b>{{00.54565 | percent}}</b>
   <br/>
    <app-new-cmp></app-new-cmp>
  </h1>
  <div>
    <select (change)="MyChange($event)">
      <option *ngFor = "let i of months">{{i}}</option>
   </select>
  </div>
  <div>
   <span *ngIf="IsAvailable; then condition1 else condition2">Condition is valid</span>
   <ng-template #condition1>Condition is valid</ng-template>
   <ng-template #condition2>Condition is invalid</ng-template>
  </div>
  <div>
    <button (click)="MyClick($event)">Click</button>
  </div>
</div>
<app-templateform></app-templateform>
<app-materialnav></app-materialnav> -->
<!-- <app-autocomplete></app-autocomplete>
<app-modeldivenform></app-modeldivenform> -->
<!-- <app-parent></app-parent> -->

<br/>
<br/>
<app-formlydemo></app-formlydemo>
<router-outlet>

</router-outlet>
